<nav class="navbar" role="navigation" aria-label="main navigation">
  <div id="navbarBasicExample" class="navbar-menu">
    <a class="navbar-item" routerLink="/"> Home </a>
    <a class="navbar-item" routerLink="/peche"> Peach </a>
    <a class="navbar-item" routerLink="/404"> NotFound </a>

    <div class="navbar-end"></div>
  </div>
</nav>
<div class="content" role="main">
  <app-display [value]="displayedValue"></app-display>
  <div class="flex">
    <app-button
      (clickAction)="add()"
      [action]="'ajouter'"
      [isDisable]="disableButtonAdd"
    ></app-button>
    <app-button
      (clickAction)="remove()"
      [action]="'soustraire'"
      [isDisable]="disableButtonRemove"
    ></app-button>
  </div>
  <router-outlet></router-outlet>
</div>
